.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid ;
    transform: var(--transition);
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ==================== FORM ==================== */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
