.service__container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.service__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.service__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}


.service__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.service__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.services__details{
    display: flex;
    gap: 1rem;
}

.services_details-icon{
    
}