.container.testimonials__container{
    width: 40%;
}

.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
    background: var(--color-primary-variant);
    text-align: center;
    padding: 2rem;
    border-radius: ;
}