nav{
    background: rgb(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: ;
}